<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            *{
                margin: 0;padding: 0;
            }
            body {
                background-color: #fff;
                font:12px/1 "microsoft yahei";
            }
            #box {
                width: 100px;height: 100px;background: #ccc;
            }

        </style>
        <link rel="stylesheet" type="text/css" href="../statics/css/test.css">
    </head>
    <body>

    我是视图层views
    <div id="box"></div>
    </body>
    <script type="text/javascript">
        var a = document.getElementById('box');
        a.oncilck = function(){
            this.attribute('name','#000')
        }


    </script>
</html>